*.bam
*.sam
*.fai
*.ebwt
*.pos
*.mut
*.bai
*.keep
*.abundtrim
*.errhist
repeat-*.fa
repgenome-*.fa

.Rhistory
cutoff.txt
ecoli-dn-report.txt
ecoli-errfree-report.txt
ecoli-report-nodn.txt
ecoli-report-trim.txt
ecoli-report-untrim.txt
ecoli-report.txt
ecoli_dn_counts.cov
ecoli_dn_counts.out
ecoli_raw_counts.out
ecoli_ref-5m.cor.fastq
ecoli_ref-5m.dn.cor.fastq.gz
ecoli_ref-5m.fastq.gz
ecoli_ref-5m.fastq.gz.stats.txt
ecoli_ref-5m.raw.cor.fastq.gz
ecoli_ref-5m.stats.txt
ecoli_ref.kh.info
error_model.ecoli_ref-5m.txt
jellyfish
kmers.txt
podar-1.fastq.gz
podar-dn-report.txt
podar-report-trim.txt
podar-report-untrim.txt
podar-report.txt
quake-ecoli-dn-cor.txt
quake-ecoli-raw-cor.txt
quake_list.txt
repgenome-compare-e00.txt
repgenome-compare-e01.txt
repgenome-compare-e05.txt
repgenome-compare-e10.txt
repgenome-compare-e20.txt
repgenome-compare.txt
simple-genome-dn-kmers.hist
simple-genome-kmers.hist
simple-genome-reads.cor.fq
simple-genome-reads.fq
simple-genome-reads.kh.info
simple-genome-reads.stats.txt
simple-genome.hist
simple-genome.report
rseq_compare2.txt
rseq_compare4.txt
rseq_compare5.txt
error_model.rseq-reads.txt
mouse-5m.fq.gz
rseq-dn-cor-sam-mismatches-report.txt
rseq-reads-hicov-sam-mismatches-report.txt
rseq-reads-hicov-sam-mismatches.report.txt
rseq-reads.dn.cor.fq.gz
rseq-reads.fq.gz
rseq-reads.fq.gz.abundfilt
rseq-reads.hicov.fq
rseq-reads.hicov.fq.sam.covdict
rseq-reads.hicov.fq.sam.covhist
rseq-reads.lowcov.fq
rseq-reads.lowcov.fq.sam.covdict
rseq-reads.lowcov.fq.sam.covhist
rseq-reads.stats.txt
rseq_dn_counts.cov
rseq_dn_counts.out
simple-genome-readcov.dict
simple-genome-reads.covdict
simple-genome-reads.covhist
*.bt2
ecoli-mapped.fq.gz
podar-mapped.fq.gz
rseq-mapped.fq.gz
rseq-reads.hicov.cor.fq.gz
